*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1140px;
  display: flex;
  align-items: end;
  gap: 30px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.result {
  max-width: 711px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
  inset: 0;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #FFF;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  background-color: transparent;
  outline: 1px solid #FFF;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color:#FFF;
}

.search-form__label {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.search-form__label-text {
  color: #FFF;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  border: none;
  color:#FFF;
  background-color: transparent;
  width: 225px;
  height: 27px;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  appearance: none;
}

input::placeholder {
  color:  rgba(255, 255, 255, 0.70);
}

input:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__textfield:hover {
  text-decoration-line: none;
}

.button {
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: transparent;
  border: 1px solid currentColor;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:hover {
  text-decoration-line: underline;
  text-underline-offset: 1px;
}

.button:active {
  background: #545050;
}

.content__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #FFF;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  min-width: 399px;
  height: 298px;
  overflow-y: auto;
  position: relative;
  inset: 0;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration-line: none;
  color: #FFF;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 2px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.content__video-card-title {
  color: #FFF;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: top right;
}

.more-button {
  width: calc(100% - 4px);
  height: 34px;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  flex-shrink: 0;
  border: 1px solid #FFF;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}